<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doubleslash.mypractice">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.browser.BrowserActivity"
            android:theme="@style/MyWebBrowserTheme" />
        <activity android:name=".activity.stopwatch.StopwatchActivity" />
        <activity
            android:name=".activity.bmi.ResultActivity"
            android:parentActivityName=".activity.bmi.BMIActivity" />
        <activity android:name=".activity.bmi.BMIActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>